

<body ng-app="bookStore">
   <div id="divHeader" class="divHeader">
        <span class="logoText">
            Online Book Store
        </span><br />
        <span style="font-family:Arial;font-size:small;font-weight:400;color:whitesmoke">
            Made by using AngularJS and Asp.Net Web API
        </span>
    </div>
    <div style="height:5px;background-color:white;width:100%;"></div>

    <div ng-view>
   
</div>    
    <div style="height:5px;background-color:white;width:100%;"></div>
    <div id="divFooter" class="divFooter">
        <span style="font-family:Arial;font-size:small;font-weight:400;color:whitesmoke">
            Add some stuff here...
        </span>
    </div>
    
</body>
   